<div class="cont ">
    <div class="container " >
        <div class="pt-5 pl-3">
            <fa-icon [icon]="faArrowAltCircleLeft" class=" " style="font-size: 23px;" [routerLink]="['']"></fa-icon>  </div>
        
        <div class="pt-2 d-flex justify-content-center">
            <img class="  wh " src="..\..\assets\img\logo-lior.png" alt="">
        </div>
        <div class="d-flex justify-content-center mt-1 "><h2 class=" text-center pt-2">¡Reparte con nosotros!  </h2></div>
        <div class="d-flex justify-content-center">
            
            <button type="button" class="bot    font-weight-bold"  placeholder="">Leer Requisitos</button>

        </div>
        <div class="d-flex justify-content-center">
            <form [formGroup]="formRegister" (ngSubmit)="nuevoMotorista()">
                <div class="mt-4 ">
                    <h3>Formuario de regristro</h3>
                <input type="text" class="form-control  " (change)="validar('nombre')"formControlName="nombre"  placeholder="Nombre ">
                <div *ngIf="name">
                    <div class="danger" >*El nombre es requerido</div>
                </div>

                <input type="text" class="form-control" (change)="validar('apellidos')" formControlName="apellidos" placeholder="Apellidos">
                <div >
                    <div *ngIf="last" class="danger">*Apellidos son requeridos.</div>
                </div>

                <input type="text" class="form-control" (change)="validar('correo')"  formControlName="correo" placeholder="Correo electrónico"> 
                <div *ngIf="email1" class="danger">*El correo es requerrido.</div>
                <div *ngIf="email" class="danger">*El correo debe ser una direccion valida.</div>

                <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
                <div *ngIf="f.password.touched && f.password.invalid" >
                    <div *ngIf="f.password.errors" class="danger">*La contraseña es requerida</div>
                </div> 
                <input type="password" class="form-control" (change)="validar('password2')" formControlName="password2" placeholder="Repetir contraseña">
                <div *ngIf="" class="alert alert-danger">
                    <div *ngIf="">Password is required.</div>
                    <div *ngIf="pass2">Password and Confirm Password must be match.</div>
                </div>
               
                <input type="text" class="form-control" formControlName="phone" placeholder="Número de celular">

                <input type="text" class="form-control" formControlName="dni" placeholder="Id Ejm. 0606199900589">
                <div class="mt-2">
                                    
                    <p class="font-weight-bold " style="color: white; display: inline;  text-decoration: underline;">Subir imagen de   targeta de identidad 
                        <label for="file-upload" class=" btn rounded-circle ml-3" style="background-color: #FFC300;">
                            <fa-icon [icon]="faFileImage"></fa-icon>
                        </label>
                        <input formControlName="imagen" (change)="capturarFile($event)" accept=".jpg,.png,.jpeg" id="file-upload" type="file"/>
                    </p>
                    <img *ngIf="previsualizacion != 'false'" id="formImagenApp" class="img-fluid" [src]="previsualizacion">


                </div>
                <div class="d-flex justify-content-center">
            
                    <button type="submit" [disabled]="!formRegister.valid" class="bot mt-4 font-weight-bold  " >Registrarse</button>
                    </div>
               </div> 

            </form>
            
                 
        </div>
        <div class="d-flex justify-content-center mt-4"><p class=" text-center" style="font-size: large;">¿Ya tienes cuenta? <br> <span class="font-weight-bold" [routerLink]="['../login']" style="color: white;">Iniciar sesión</span></p>
        </div>
        
</div>