<div class="container">
  
    <div class="mt-4">
      <fa-icon [icon]="faArrowAltCircleLeft" class="float-left ml-2"></fa-icon>
      <fa-icon [icon]="faHome" class="float-right mr-2" style="color:#FFD60A"></fa-icon>
      <p class="text-wrap text-center td mx-auto">Ordenes  del día tomadas</p>
    </div>
    <table class="table table-striped">
      <thead>
        <tr class="">
          <th scope="col" class=" p-0 th"><p  class="text-wrap text-center  " ></p></th>
          <th scope="col" class=" p-0 th"><p  class="tc text-wrap text-center mx-auto m-0 " > Código orden</p></th>
          <th scope="col" class=" p-0 th"><p class=" text-center text-wrap "> Nombre establecimiento</p></th>
         
        </tr>
      </thead>
      <tbody>
        <tr>
            <th scope="row"  class="text-center" class="text-center">1</th>
            <td   class="text-center" class="text-center">0024</td>
             <td>Supermercado Paiz</td>
          
        </tr>
        <tr>
            <th scope="row"  class="text-center" class="text-center">2</th>
            <td  class="text-center">0025</td>
          <td>Supermercado La colonia</td>
              </tr>
        <tr>
            <th scope="row"  class="text-center" class="text-center">3</th>
            <td  class="text-center">0034</td>
          <td>Farmacia FarmaCity</td>
          <tr>
              <th scope="row"  class="text-center" class="text-center">4</th>
            <td  class="text-center">0025</td>
            <td>Supermercado La colonia</td>
                </tr>
          
      </tbody>
    </table>
    </div>
    
  
  