<div class="container" *ngFor="let orden of orden">


    <div class="mt-4">
        <fa-icon [icon]="faArrowAltCircleLeft" class="float-left  my-1 ml-2"  style=" font-size: 21px;"[routerLink]="['../ordersTaken']"></fa-icon>
        <fa-icon [icon]="faHome" class="float-right mr-2  my-1" style="color:#FFD60A; font-size: 25px;" [routerLink]="['../home']"></fa-icon>
        <h2 class="text-wrap text-center td mx-auto font-weight-light mt-2">Detalles de orden</h2>
    </div>
    <div class="mt-4">
        <div>
            <p class="font-weight-bold">Código orden: <span class="font-weight-normal">{{orden._id}}</span></p>
        </div>
        <div>
            <p class="font-weight-bold">Nombre </p>
            <p class="font-weight-bold">establecimiento: <span class="font-weight-normal">{{orden.comercio  .nombreComercio}}</span></p>
        </div>
        <div>
            <button type="text" class=" mt-1 mapa float-right">VER MAPA </button>
        </div>
        <div>
            
        </div>
        <div class=" col-auto my-4 p-0">
            <label class=" sr-only" for="inlineFormCustomSelect">Preference</label>
            <p class="font-weight-bold" style="display: inline;">Estado de orden</p>
            <select class=" form-control custom-select ml-2" [(ngModel)]="estado" (change)="cambiarEsadotOrden()" style="width: 250px;" id="inlineFormCustomSelect">
              <option selected>En proceso</option>
              <option class="" value="1">En camino</option>
              <option class="" value="2">Completada</option>
              
            </select>
          </div>
    </div>
    <table class="table mt-5">
        
        <tbody class="pt-4" >
          <tr *ngFor="let producto of orden.productos, index as i">
            <th scope="row" class="pt-4">{{1+i}}</th>
            <td><img class="rounded-circle  render mt-1" src="{{base_url}}{{producto.imagenProducto}}" alt=""></td>
            <td class="pt-4">{{producto.nombreProducto}}</td>
            <td class="font-weight-bold text-center">
                <span>Cantidad</span><br>
                <span>{{producto.cantidad}}</span><br>
                <span>Precio c/u L.{{producto.precio}}</span></td>
          </tr>
    
          
        </tbody>
      </table>
    <div class="border mt-3 mb-5" >
        <p class="font-weight-bold float-right mt-3">Total: <span class="mx-2 px-2" style="background-color: #FFD60A
            ;">{{orden.total}}</span></p>
    </div>

    <br >
     <p  class="font-weight-bold">Detalles de contacto del cliente</p>
     <p  class="font-weight-bold">Nombre</p>{{orden.cliente.firstName}} {{orden.cliente.lastName}}<span></span>
     <p  class="font-weight-bold">Correo</p><span>{{orden.cliente.email}}</span>
     <p  class="font-weight-bold mt-3">Metodo de pago</p><span>{{orden.metodoPago}}</span>

     

    </div>
    