p{
    margin: 0px;
}


.mapa{
    background-color: #FFC300;
    color: white;

    width: 8rem;
    border-radius: 4px;
    border: none;

}
table td, table th{

 border: none;
}
table tbody{
    border: 10px;
    border-bottom: blue;
}
.cent{
    margin-top: auto;
    margin-bottom: auto;
}

.d{
    border: none;
}