<div class="container">
  
    <div class="mt-4">
      <fa-icon [icon]="faArrowAltCircleLeft" class="float-left ml-2" style="font-size: 21px;" [routerLink]="['../home']"></fa-icon>
     
      <h2 class="text-wrah2 text-center td mx-auto">Ordenes Completadas</h2>
    </div>
    <table class="table table-striped">
      <thead>
        <tr class="">
          <th scope="col" class=" p-0 th"><p class=" text-center  my-2">#</p></th>

          <th scope="col" class=" p-0 th"><p class=" text-center  my-2">Fecha</p></th>
          <th scope="col" class=" p-0 th"><p  class=" text-wrap text-center my-2 " > Código orden</p></th>
          
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let orden of ordenes, index as i'>
          <td class="text-center">{{i + 1}}</td>
          <td class="text-center">{{orden.fecha}}</td>
          <td   class="text-center" class="text-center">{{orden._id}}</td>
          
          
        </tr>
        
      </tbody>
    </table>
    </div>
    
  
  