<div class="container">
  
  <div class="mt-4">
    <fa-icon [icon]="faArrowAltCircleLeft" class="float-left ml-2"></fa-icon>
    <fa-icon [icon]="faHome" class="float-right mr-2" style="color:#FFD60A"></fa-icon>
    <p class="text-wrap text-center td mx-auto">Ordenes  del día disponibles</p>
  </div>
  <table class="table table-striped">
    <thead>
      <tr class="">
        <th scope="col" class=" p-0 th"><p  class="tc text-wrap text-center mx-auto m-0 " > Código orden</p></th>
        <th scope="col" class=" p-0 th"><p class=" text-center  "> Nombre establecimiento</p></th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"  class="text-center" class="text-center">0024</th>
        <td>Supermercado Paiz</td>
        
      </tr>
      <tr>
        <th scope="row" class="text-center">0025</th>
        <td>Supermercado La colonia</td>
            </tr>
      <tr>
        <th scope="row" class="text-center">0034</th>
        <td>Farmacia FarmaCity</td>
        <tr>
          <th scope="row" class="text-center">0025</th>
          <td>Supermercado La colonia</td>
              </tr>
        <tr>
          <th scope="row" class="text-center">0034</th>
          <td>Farmacia FarmaCity</td>
          <tr>
            <th scope="row" class="text-center">0025</th>
            <td>Supermercado La colonia</td>
                </tr>
          <tr>
            <th scope="row" class="text-center">0034</th>
            <td>Farmacia FarmaCity</td>
            <tr>
              <th scope="row" class="text-center">0025</th>
              <td>Supermercado La colonia</td>
                  </tr>
            <tr>
              <th scope="row" class="text-center">0034</th>
              <td>Farmacia FarmaCity</td>

        
      </tr>
    </tbody>
  </table>
  </div>
  

