<div class="container">
  
  <div class="mt-4">
    <fa-icon [icon]="faArrowAltCircleLeft" class="float-left ml-2" style="font-size: 21px;" [routerLink]="['../home']"></fa-icon>
   
    <h2 class="text-wrap text-center td mx-auto">Ordenes del día disponibles</h2>
  </div>
  <table class="table table-striped">
    <thead>
      <tr class="">
        <th scope="col" class=" p-0 th"><p  class="tc text-wrap text-center mx-auto m-0 " > Código orden</p></th>
        <th scope="col" class=" p-0 th"><p class=" text-center  "> Nombre establecimiento</p></th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of ordersDay, index as i"  [routerLink]="['/order']">
        <th scope="row"  class="text-center" class="text-center">{{order.codigo}}</th>
        <td>{{order.nombreComercio}}</td>
        
      </tr>
      
    </tbody>
  </table>
  </div>
  

