<div class="container   bgc">
    <div class="pt-4">
        
        <!-- <div class="float-right  "><BUtton class="btn btn-warning btn-sm mr-4" style="font-size: larger;">Perfil</BUtton></div><br> -->
        
        <h2>Lior - Motoristas</h2>
      </div>

</div>
<div class="container font-weight-normal"> <br>
   
    <div class="row justify-content-center mt-5" [routerLink]="['/ordersDay']">
      <div class="col-10 orden-dia b   pt-3 text-wrap">
        Ordenes  del día disponibles <fa-icon  [icon]="faClipboardList" class=" ml-1 float-right  text-d"></fa-icon>
        
      </div>
     
    </div>
    <div class="row justify-content-center  mt-5" [routerLink]="['/ordersTaken']">
        <div class="col-10 b orden-tomada  pt-3">
            Ordenes  del día tomadas    <fa-icon  [icon]="faMotorcycle " class="float-right "></fa-icon>  
        </div>
       
      </div>
      <div class="row justify-content-center b  mt-5" [routerLink]="['/ordersCompleted']">
        <div class="col-10 b orden-realizada pt-3">
            Ordenes  entregadass<fa-icon  [icon]="faCheckCircle" class="text-r float-right "></fa-icon>
        </div>
       
        <div class="row justify-content-center mt-5" (click)="cerrarSesion()">
          <div class="col-10 b  k">
              <h2 class="mt-2 text-center">Cerrar Sesión</h2>
          </div>
      </div>
  </div>