
<div class="cont ">
    <div class="container " >
        <div class="pt-5 d-flex justify-content-center">
            <img class="  wh " src="..\..\assets\img\logo-lior.png" alt="">
        </div>
        <div class="pt-3 d-flex justify-content-center">
            <img class=" "style=" height: 200px;" src="..\..\assets\img\moto.svg" alt="">
           
        </div>
        <div class="d-flex justify-content-center mt-3"><p class="every text-center text-wrap pt-2">Lior - Motoristas <br> ¡Todo en tus manos!</p></div>
        <div class="">
        <button type="button" class="mx-auto  bot mt-4 "  [routerLink]="['/register']" style="background: rgba(0, 53, 102, 0.72);" placeholder="">Registrarse</button>
         <button type="button" class=" mx-auto bot mt-4  " [routerLink]="['/login']" style="background-color: #003566;"  placeholder="">Iniciar sesión</button> 
         

        </div>       
        </div>
        <router-outlet></router-outlet>

</div>